## sasaplus1/macos-vim

/usr/bin/**
!/usr/bin/.gitkeep

/usr/include/**
!/usr/include/.gitkeep

/usr/lib/**
!/usr/lib/.gitkeep

/usr/man/**
!/usr/man/.gitkeep

/usr/share/**
!/usr/share/.gitkeep

/usr/src/**
!/usr/src/.gitkeep
