name: test

on:
  push:
    paths:
      - '.github/workflows/test.yml'
      - 'Makefile'
      - 'usr'
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - 'Makefile'
      - 'usr'

jobs:
  build:
    name: build
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          # arm64
          - macos-14
          - macos-15
        luajit:
          - ''
          - luajit
    env:
      CC: 'ccache gcc'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639 # v1.2
      - run: echo "PATH=/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH" | tee -a "$GITHUB_ENV"
      - run: ccache --show-config
      - id: ccache
        run: echo "cache_dir=$(ccache --show-config | grep cache_dir | awk '{ print $4 }')" | tee -a "$GITHUB_OUTPUT"
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.ccache.outputs.cache_dir }}
          key: ccache-${{ hashFiles('usr/src/*.tar.*') }}
          restore-keys: |
            ccache-${{ hashFiles('usr/src/*.tar.*') }}
            ccache-
      - id: machine-arch
        run: echo "name=$(arch)" | tee -a "$GITHUB_OUTPUT"
      - run: make
      - run: make download-libiconv
      - run: make install-libiconv
      - run: make download-gettext
      - run: make install-gettext
      - if: ${{ !matrix.luajit }}
        run: make download-lua
      - if: ${{ !matrix.luajit }}
        run: make install-lua
      - if: matrix.luajit
        run: make download-luajit
      - if: matrix.luajit
        run: make install-luajit
      - if: matrix.luajit
        run: echo 'WITH_LUAJIT=1' | tee -a "$GITHUB_ENV"
      - run: make download-vim
      - run: make install-vim
      - run: cp usr/src/vim-*/src/auto/config.log 'config-${{ matrix.os }}-${{ matrix.luajit || 'lua' }}.log'
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: config-${{ matrix.os }}-${{ matrix.luajit || 'lua' }}.log
          path: config-${{ matrix.os }}-${{ matrix.luajit || 'lua' }}.log
      - if: github.ref_name == 'master'
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.ccache.outputs.cache_dir }}
          key: ccache-${{ hashFiles('usr/src/*.tar.*') }}
      - run: lipo -archs ./usr/bin/vim
      - id: vim-arch
        run: echo "name=$(lipo -archs ./usr/bin/vim)" | tee -a "$GITHUB_OUTPUT"
      - run: otool -l ./usr/bin/vim
      - run: otool -L ./usr/bin/vim
      - run: make postinstall-vim
      - run: otool -l ./usr/bin/vim
      - run: otool -L ./usr/bin/vim
      - run: ./usr/bin/vim --version
      - name: has +gettext
        run: ./usr/bin/vim --version | grep -o '+gettext'
      - name: output Lua version
        run: ./usr/bin/vim --not-a-term --clean --cmd 'lua print(_VERSION)' --cmd 'qall!'
      - name: output LuaJIT version
        run: ./usr/bin/vim --not-a-term --clean --cmd 'lua print(jit.version)' --cmd 'qall!'
      - run: mv -f ./usr ./macos-vim
      # save mode
      - run: >
          tar cfvJ ${{ matrix.os }}-${{ steps.vim-arch.outputs.name }}-${{ matrix.luajit || 'lua' }}-vim.tar.xz
          macos-vim/bin
          macos-vim/lib
          macos-vim/man
          macos-vim/share
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ matrix.os }}-${{ steps.vim-arch.outputs.name }}-${{ matrix.luajit || 'lua' }}-vim
          path: ${{ matrix.os }}-${{ steps.vim-arch.outputs.name }}-${{ matrix.luajit || 'lua' }}-vim.tar.xz
          if-no-files-found: error
